@mixin pseudo-list($padding: 0, $margin: 0) {
  list-style-type: none;
  padding: $padding;
  margin: $margin;
}

@mixin inline-list($padding: 0, $margin: 0) {
  @include pseudo-list($padding, $margin);

  *[class*="__item"] {
    display: inline-block;
  }
}

@mixin flex($wrap: nowrap) {
  display: flex;
  justify-content: space-between;
  flex-wrap: $wrap;
}

@mixin inline-flex-list($padding: 0, $margin: 0) {
  @include pseudo-list($padding, $margin);
  @include flex;
}

@mixin flex-item($width, $weight: 0, $shrink: 1) {
  width: $width;
  flex: $weight $shrink $width;
}

@mixin alternating-list($padding: 0, $margin: 0, $item-spacer: $space-unit) {
  @include pseudo-list($padding, $margin);

  .list__item {
    padding: $item-spacer;
  }

  &:not(:last-of-type) {
    border-bottom: .5rem solid rgba($black, .1);
  }

  &:nth-of-type(odd) {
    background: rgba($white, .5);
  }

  &:nth-of-type(even) {
    background: rgba($black, .5);
  }
}
