// Base colors
$black: #000;
$white: #fff;

$gray-10: lighten($black, 10%);
$gray-20: lighten($black, 20%);
$gray-30: lighten($black, 30%);
$gray-40: lighten($black, 40%);
$gray-50: lighten($black, 50%);
$gray-60: darken($white, 40%);
$gray-70: darken($white, 30%);
$gray-80: darken($white, 20%);
$gray-90: darken($white, 10%);

// Color palate
$red: #ff3e3e;
$orange: #f39c12;
$yellow: #ffe13d;
$green: #19a560;
$blue: #4285f4;
$purple: #d822ec;

// Theme colors
$theme-primary: $blue;
$theme-secondary: $green;
$theme-tertiary: mix($theme-primary, $theme-secondary, 10%);

// Font colors
$body-color: #2c3e50;
$heading-color: darken($blue, 10%);
$link-color: darken($blue, 10%);

// Backgrounds
$body-bg: #efefef;
$header-bg: lighten($theme-primary, 10%);
$footer-bg: darken($body-color, 10%);

// Context colors
$negative-color: $red;
$warning-color: $yellow;
$positive-color: $green;
$ignore-color: lighten($body-color, 10%);
$disabled-color: rgba($black, 0.5);
