button {
  -webkit-appearance: none;
  border: 1px solid $theme-primary;
  color: $white;
  background-color: rgba($theme-primary, .2);
  padding: .5em;
  border-radius: $input-radius;
  cursor: pointer;
  transition: {
    property: background-color, box-shadow;
    duration: $very-fast;
    timing-function: $cubic;
  };

  &:hover {
    background-color: transparent;
    box-shadow: inset 0 0 0 .125rem $theme-primary;
  }
}
