code {
  font-family: $mono-font;
  padding: .25rem .5rem;
  background: rgba($black, .05);
  border-radius: .5rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

pre code {
  padding: 0;
  background: transparent;
}
