article,
aside,
details,
figure,
figcaption,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

figure {
  position: relative;
  margin: 0;
}
