img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;

  &.center-image {
    display: block;
    margin: 0 auto;
  }

  &.fill-image {
    object-fit: cover;
    max-width: auto;
    width: 100%;
  }

  &.absolute-background {
    position: absolute;
    top: 0;
    left: 0;
    max-width: auto;
    width: 100%;
  }
}
