%basic-thumb {
  @include circle($space-unit * 2);

  cursor: pointer;
  background-color: $white;
}

input,
select,
textarea {
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: $white;
  background-color: transparent;
  box-shadow: none;
  border: 0;
  border-bottom: .125rem dashed $theme-primary;
  padding: .125rem .5rem;
  margin: 0 0 $space-unit;
  width: 100%;
  max-width: 100%;
  transition: background-color $fast $cubic,
    border-color $very-fast $cubic,
    box-shadow $slow $cubic;
  font: {
    size: $medium;
    family: $body-font;
  };

  &:hover {
    border-bottom: .125rem solid $theme-primary;
  }

  &:focus {
    border-bottom: .125rem solid transparent;
    background-color: rgba($white, .25);
    box-shadow: $input-shadow;
  }

  &:disabled {
    background-color: rgba($black, .5);
  }
}

input[type='hidden'] {
  @include do-not-show;
}

input[type='checkbox'],
input[type='radio'] {
  @include size($space-unit * 2, $space-unit * 2);

  cursor: pointer;
  border: 1px solid $white;
  background-color: rgba($white, .1);

  &:checked {
    background-color: $theme-primary;
    border: 1px solid $theme-primary;
  }
}

input[type='radio'] {
  border-radius: 50%;
}

input[type='range'] {
  background-color: rgba($black, .1);
  cursor: ew-resize;
  height: .5rem;
  margin: .5rem 0;
}

input[type='range']::-ms-track {
  cursor: ew-resize;
  color: transparent;
}

input[type='range']::-webkit-slider-thumb {
  @extend %basic-thumb;

  -webkit-appearance: none;
}

input[type='range']::-ms-thumb {
  @extend %basic-thumb;
}

input[type='range']::-ms-fill-lower {
  background-color: $theme-primary;
}

input[type='range']::-ms-fill-upper {
  background-color: rgba($black, .1);
}

select {
  border-radius: 0;
}

textarea {
  resize: vertical;
}

label[for] {
  cursor: pointer;
}

fieldset {
  padding: $space-unit;
  margin: 0;
  border: 0;
}

legend {
  font-weight: $default-weight;
}
