pre {
  position: relative;
  font-family: $mono-font;
  border-radius: .5rem;
  padding: .5rem 1rem;
  margin: .5rem 0;
  background: rgba($black, .5);
  overflow: auto;
  -ms-overflow-style: scrollbar;

  &::before {
    @include size(.5rem, 100%);

    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: .5rem;
    height: 100%;
    background: rgba($blue, .1);
    border-right: .5rem solid rgba($blue, .5);
  }
}
