// Heading
@font-face {
  src: '../../fonts/Montserrat-Light.ttf' format('ttf');
  font: {
    family: 'Montserrat';
    weight: 300;
  };
}

@font-face {
  src: '../../fonts/Montserrat-Regular.ttf' format('ttf');
  font: {
    family: 'Montserrat';
    weight: 400;
  };
}

@font-face {
  src: '../../fonts/Montserrat-SemiBold.ttf' format('ttf');
  font: {
    family: 'Montserrat';
    weight: 600;
  };
}

// Body
@font-face {
  src: '../../fonts/Lato-Light.ttf' format('ttf');
  font: {
    family: 'Lato';
    weight: 300;
  };
}

@font-face {
  src: '../../fonts/Lato-Regular.ttf' format('ttf');
  font: {
    family: 'Lato';
    weight: 400;
  };
}

@font-face {
  src: '../../fonts/Lato-Bold.ttf' format('ttf');
  font: {
    family: 'Lato';
    weight: 700;
  };
}

// Mono
@font-face {
  src: '../../fonts/SourceCodePro-Regular.ttf' format('ttf');
  font: {
    family: 'Source Code Pro';
    weight: 400;
  };
}

@font-face {
  src: '../../fonts/SourceCodePro-Semibold.ttf' format('ttf');
  font: {
    family: 'Source Code Pro';
    weight: 600;
  };
}
